body {

}

#header {

}

#content {

}

#main {

}

#sidebar {

}

#footer {

}

dl {
  padding-bottom: 20px;
}

dd {
  padding-bottom: 5px;
}

h4 {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
