body {

}

#header {
  background-color: red;
  color: white;
}

#content {

}

#main {

}

#sidebar {

}

#footer {

}

dl {
  padding-bottom: 20px;
}

dd {
  /*padding-bottom: 5px;*/
  padding: 0 0 5px 10px;
}

h4 {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
